.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #181818;
  padding: 10px;
}
.grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.card {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 6px;
  border: 0.8px solid rgba(200, 196, 196, 0.206);
  border-radius: 10px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.card img {
  max-height: 200px;
}
.card:hover {
  object-fit: contain;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
.link_container {
  display: flex;
  flex-direction: row;
}
.link {
  margin: 10px;
  background-color: red;
  padding: 10px;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.heading {
  display: flex;
  width: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: rgb(45, 45, 45);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header_title {
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
}
#csr_title {
  background-color: #01e37f;
}
#ssr_title {
  background-color: #cce5e5;
}
#ssg_title {
  background-color: #e4eaef;
}
.btncsr {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  background-color: #62e3c6;
  color: black;
  font-size: 15px;
  font-weight: 800;
}
.btnssr {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  background-color: #ffd800;
  color: black;
  font-size: 15px;
  font-weight: 800;
}
.btnssg {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  background-color: #7b53df;
  color: white;
  font-size: 15px;
  font-weight: 800;
}
@media screen and (max-width: 414px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .card {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .card img {
    max-height: 100px;
  }
  .header_title {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 40px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
      rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  }
}
